/* FLEX HELPERS */
.flex {
  display: flex;
}

.flex.flex-wrap {
  flex-wrap: wrap;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.align-center {
  align-items: center;
}

.flex.justify-center {
  justify-content: center;
}

.flex.flex-direction-column {
  flex-direction: column;
}

/* LIST HELPERS */

.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
