/* MOBILE ONLY */
@media (max-width: 890px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-toggle {
    display: flex;
  }
  .nav-links {
    display: none;
    width: 100%;
  }
  .nav-links ul {
    width: 100%;
    flex-direction: column;
  }
  .nav-links li {
    text-align: center;
  }
  .nav-links li a {
    padding: 0.5rem 1rem;
  }
  .nav-links.active {
    display: flex;
  }
  
  /* FILTER */
  .search-keywords {
    flex-wrap: wrap;
  }
  .search-main {
    flex-direction: column;
  }

  /* EDITOR */
  .canvas-container {
    width: 100px;
    height: 100px;
  }

  .modal {
    flex-direction: column;
  }

  .canvas-container {
    width: 250px;
    height: 250px;
  }
  
  .meme-editor {
    flex-grow: 1;
  }
}

/* SMAll LAYOUT */

@media (min-width: 400px) {
  /* FILTER */
  .search-keywords {
    flex-wrap: wrap;
  }
  .keyword {
    flex-grow: 1;
  }
  .search-main {
    flex-direction: column;
  }
  .search-inputs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
  }

  /* GALLERY */
  .grid-container {
    max-width: var(--small);
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5%;
    margin: 0 auto;
    gap: 1.5rem;
  }

  .gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(100%);
    transition: transform 0.3s;
  }

  .gallery-img:hover {
    transform: scale(110%);
    transition: transform 0.3s;
  }

  /* EDITOR */
  .canvas-container {
    width: 100px;
    height: 100px;
  }

  .modal {
    flex-direction: column;
  }

  .canvas-container {
    width: 250px;
    height: 250px;
  }
  
  .meme-editor {
    flex-grow: 1;
  }

  /* SAVES */
  .saved-memes-container {
    max-width: var(--small);
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5%;
    margin: 0 auto;
    gap: 1.5rem;
  }
  .saved-meme {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(100%);
    transition: transform 0.3s;
  }
  .saved-meme:hover {
    transform: scale(110%);
    transition: transform 0.3s;
  }
}

/* MEDIUM LAYOUT */

@media (min-width: 760px) {
  /* HEADER */
  .logo {
    height: 50%;
    width: 50%;
  }

  .nav-links {
    width: 70%;
  }

  .clean-list {
    justify-content: end;
  }

  /* GALLERY */
  .search-main {
    flex-direction: row;
  }

  .grid-container {
    max-width: var(--medium);
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(100%);
    transition: transform 0.3s;
  }
  .gallery-img:hover {
    transform: scale(110%);
    transition: transform 0.3s;
  }

  /* EDITOR */
  .canvas-container {
    width: 400px;
    height: 400px;
  }

  .modal {
    flex-direction: row;
  }

  .meme-editor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 55vh;
    width: 20vw;
  }

  /* SAVES */
  .saved-memes-container {
    max-width: var(--medium);
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(3, 1fr);
  }
  .saved-meme {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(100%);
    transition: transform 0.3s;
  }
  .saved-meme:hover {
    transform: scale(110%);
    transition: transform 0.3s;
  }
}

/* BIG LAYOUT */

@media (min-width: 1040px) {
  /* HEADER */
  .logo {
    width: 70%;
  }

  .clean-list {
    justify-content: end;
  }

  /* GALLERY */
  .grid-container {
    max-width: unset;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
  }

  .gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(100%);
    transition: transform 0.3s;
  }
  .gallery-img:hover {
    transform: scale(110%);
    transition: transform 0.3s;
  }

  /* EDITOR */
  .canvas-container {
    width: 666px;
    height: 666px;
  }

  .meme-editor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* height: 50vh;
    width: 20vw; */
  }

  /* SAVES */
  .saved-memes-container {
    max-width: unset;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
  }

  .saved-meme {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(100%);
    transition: transform 0.3s;
  }

  .saved-meme:hover {
    transform: scale(110%);
    transition: transform 0.3s;
  }
}
