/* MEDIUM LAYOUT */
@media (min-width: 760px) {
  /* HEADER */
  .nav {
    flex-direction: row;
    align-items: center;
  }
  .logo-a {
    flex: 1;
  }
  .logo {
    height: 100%;
    width: 100%;
    padding: 0.5rem;
  }
  .nav-links {
    display: flex;
    width: 100%;
    flex: 2;
  }
  .nav-links ul {
    width: 100%;
    flex-direction: row;
  }
  .nav-links li a {
    display: block;
    cursor: pointer;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    padding: 0.5rem 1rem;
  }
  .nav-toggle {
    display: none;
  }
  .clean-list {
    justify-content: end;
  }

  /* GALLERY */
  .search-main {
    flex-direction: row;
  }
  .search-inputs {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: unset;
  }
  .grid-container {
    max-width: var(--medium);
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(100%);
    transition: transform 0.3s;
  }
  .gallery-img:hover {
    transform: scale(110%);
    transition: transform 0.3s;
  }

  /* EDITOR */
  .modal {
    flex-direction: row;
  }
  .canvas-container {
    width: 400px;
    height: 400px;
  }
  .meme-editor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 55vh;
    width: 50vw;
  }
  .text-edit {
    padding: 0 0 3px;
  }
  .meme-text {
    padding: 2px;
  }
  .text-features {
    width: unset;
    height: 4rem;
  }
  .meme-font {
    gap: 0.5rem;
  }
  .meme-social {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .btn-save { grid-area: 1 / 1 / 2 / 2; }
  .btn-download { grid-area: 1 / 2 / 2 / 3; }
  .btn-share { grid-area: 1 / 3 / 2 / 4; }

  /* SAVES */
  .saved-memes-container {
    max-width: var(--medium);
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(3, 1fr);
  }
  .saved-meme {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(100%);
    transition: transform 0.3s;
  }
  .saved-meme:hover {
    transform: scale(110%);
    transition: transform 0.3s;
  }
}
