/* FOOTER */
footer {
  background-color: #fdeff4;
  background-image: url('/imgs/backgrounds/mini-shrek.jpg');
  text-align: center;
  padding: 1rem;
}

.footer-text {
  color: var(--color2);
  -webkit-text-stroke-width: 1px; 
  -webkit-text-stroke-color: black;
}

.footer-link {
  color: var(--color4);
  -webkit-text-stroke-width: 1px; 
  -webkit-text-stroke-color: black;
}