/* MAIN */
.home-main {
  background-image: url('../../imgs/backgrounds/gallery-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.search-main {
  background-color: transparent;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding: 20px 0;
}

.search-input {
  margin: 0 5px;
  padding: 8px 0;
  border-radius: 5px;
}

.file-input {
  display: none;
}

.label-upload {
  display: inline-block;
  font-size: 20px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  margin: 5px;
  padding: 6px 12px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.label-upload:hover {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color1);
  background-color: var(--color2);
  transition: background-color 0.2s;
}

.reset-filter {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  display: inline-block;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  margin: 5px;
  padding: 6px 12px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.reset-filter:hover {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color1);
  background-color: var(--color2);
  transition: background-color 0.2s;
}

.search-keywords {
  display: flex;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  flex-grow: 1;
}

.keywords {
  flex-wrap: wrap;
}

.keyword {
  flex-grow: 1;
  cursor: pointer;
}

.grid-container {
  max-width: var(--small);
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px 0;
  margin: 0 auto;
  gap: 1rem;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transform: scale(100%);
  transition: transform 0.3s;
}
.gallery-img:hover {
  transform: scale(110%);
  transition: transform 0.3s;
}
