/* MAIN */
.home-main {
  background-image: url('/imgs/backgrounds/gallery-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.search-main {
  background-color: transparent;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding: 20px 0;
}

.search-input {
  margin: 0 5px;
  padding: 8px 0;
  border-radius: 5px;
}

.file-input {
  display: none;
}

.label-upload {
  display: inline-block;
  font-size: 20px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  margin: 5px;
  padding: 6px 12px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.label-upload:hover {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color1);
  background-color: var(--color2);
  transition: background-color 0.2s;
}

.reset-filter {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  display: inline-block;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  margin: 5px;
  padding: 6px 12px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.reset-filter:hover {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color1);
  background-color: var(--color2);
  transition: background-color 0.2s;
}

.search-keywords {
  display: flex;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  flex-grow: 1;
}

.keywords {
  flex-flow: 1;
}
