/* MODAL */
.modal {
  background-image: url('/imgs/editor-bg.png');
  background-color: var(--color1);
  color: var(--color2);
  padding: 10px;
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translate(-50%);
  width: 90vw;
  height: 90vh;
  min-width: 300px;
  text-align: center;
}

.modal.open {
  position: fixed;
  top: 8vh;
  transition: top 0.6s;
}

.full {
  width: 100%;
  height: 100%;
}

.canvas-container {
  width: 666px;
  height: 666px;
  overflow: hidden;
}

.meme-editor {
  width: 500px;
  height: 500px;
  border: 2px solid green;
  display: grid;
  gap: 5px;
}

.btn-modal {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  border: none;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-modal:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
