.modal {
  background-color: #111;
  padding: 10px;
  position: absolute;
  top: -100%;
  left: 50%;
  height: 80vh;
  min-width: 300px;
  text-align: center;
}

.modal.open {
  top: 0;
  transition: top 0.6s;
}
