/* MODAL */
.modal {
  background-color: var(--color1);
  background-image: url('/imgs/backgrounds/editor-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color2);
  padding: 10px;
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translate(-50%);
  width: 90vw;
  height: 90vh;
  min-width: 300px;
  text-align: center;
}

.modal.open {
  position: fixed;
  top: 8vh;
  transition: top 0.6s;
}

.full {
  width: 100%;
  height: 100%;
}

.canvas-container {
  width: 222px;
  height: 222px;
  overflow: hidden;
}

.meme-editor {
  width: 222px;
  height: 222px;
  display: grid;
  gap: 5px;
}

.colors {
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: white;
}

.btn-modal {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  border: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #ffffff;
  font-size: 1rem;
  background: var(--color4);
  /* padding: 10px 20px 10px 20px; */
  text-decoration: none;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: white;
}

.btn-download a{
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  border: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #ffffff;
  font-size: 1rem;
  background: var(--color4);
  /* padding: 10px 20px 10px 20px; */
  text-decoration: none;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: white;
}

.btn-close {
  font-size: 2rem;
}

.btn-modal:hover {
  background: var(--color6);
  text-decoration: none;
}
