/* SAVES */
.saved-main {
  width: 100vw;
  height: 100vh;
  background-image: url('../../imgs/backgrounds/gallery-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.saved-title {
  font-size: 3rem;
  padding: 2rem;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color1);
}

.saved-memes {
  width: 100%;
  height: 100%;
  display: grid; /* none when gallery is shown */
  background-color: transparent;
}
